.robotofont {
             font-family: "Roboto", sans-serif;
             font-optical-sizing: auto;
             font-style: normal;
             font-variation-settings:
                     "wdth" 100;
         }
span {
    background-color: darkgray;
    font-size: 75px;
    padding:15px;
}

.red {
    color: darkred;
}
.player {
    font-size: 50px;
}
